.gg{
    background-color: #5041bc;
    display: flex;
    border-radius: 20px;
}
div.overview{
    border-radius: 20px;
    background-color: #ffff;
    width: 1200px;
    height: auto;

}
div.dashboard{
    width: 250px;
    height: auto;
    

}
img.logo{
padding: 30px;
}
.gg{
    background-color: #5041bc;
    flex: auto;
}
.list{
    list-style: none;
    margin-bottom: 150px;
}
.li{
    width: 150px;
    height: 30px;
    flex: justify;
    color: #ffff;  
    text-align: start;
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.lit{
    width: 150px;
    height: 30px;
    text-align: start;
    border-radius: 10px;
    background-color: #ffff;
    color: #5041bc;
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.rocket{
    background-color: #ffff;
    border-radius: 10px;
    height: 200px;
    width: 150px;
    margin-left: 20px;
    flex: content;
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto ;
}
.rocketimg{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    width: 90px;
}
.upgrade{
    width: 100px;
    height: 25px;
    text-align: center;
    background-color: #ff8057;
    color: #ffff;
    margin: auto;
    font-size: 12px;
    padding: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashicon{
    width: 10px;
}
.dashicon-color{
    width: 10px;
    color: #ffff;
}
.top{
    display: flex;
    align-items: center;
    width: auto;
    height: 100px;
}
.over{
    margin-left: 20px;
    align-items: center;
    height: auto;
    width: 500px;

}
.search{
    display: flex;
    align-items: center;
    background-color: rgb(180, 175, 175);
    height: 40px;
    width: 300px;
    border-radius: 20px;
    padding-left: 15px;
    color: #5041bc;
}
.simg{
    margin-left: 220px;
}
.not{
    width: 15px;
    margin: 15px;
}
.pro{
display: flex;
align-items: center;
justify-content: center;
width: auto;
height: auto;
border-radius: 20px;
margin-left: 5px;
}
.sales{
    margin-left: 20px;
}
div.tab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 98%;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
}
.chart{
    border-radius: 10px;
    border: solid rgb(180, 175, 175) 1px;
    width: 96%;
    margin-bottom: 20px;
}
.right{
    padding-right:40px; 
}
.left{
    padding-left: 40px;
}
.gold{
    color: #ff8057;
}
.silver{
    color: greenyellow;
}
.minx{
    display: flex;
    flex-direction: row;
}
.min{
    display: flex;
    width: 250px;
    height: 150px;
    border: solid rgb(180, 175, 175) 1px;
    border-radius: 10px;
    margin-left: 20px;
    flex-direction: row;
}
.lm{
    margin-left: 20px;

}
.ign{
    color: green;
}
.ig{
    width: 10px;
    border-width: 10px;
    border-radius: 5px;
    background-color: greenyellow;
}
.irn{
    color: red;
}
.ir{
    transform: rotate(180deg);
    width: 10px;
    border-width: 10px;
    border-radius: 5px;
    background-color: red;
}
.g{
    color: rgb(180, 175, 175);
}
.rm{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
margin-right: 20px;
margin-left: auto; 
margin-top: auto;
margin-bottom: 10px;  
}
.und{
    text-decoration: underline;
    color: #c25fff;
}
.divch{

}
.graph{
    margin-left: 20px;
    border: solid rgb(180, 175, 175) 1px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 650px;
    height: auto;
}
.gra{
    width: 600px;
    align-items: center;
    display: flex;

}
.dot{
    display: flex;
    align-items: flex-end;
    flex-direction: row;

}
.ar{   
    width: 500px;
}
.red{
    
    text-decoration: dotted;
    color: red
}
.blue{
    
    text-decoration: dotted;
    color: blue
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
